@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&family=Roboto+Slab:wght@400;500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Radio Canada', sans-serif;
}


body {
    padding: 0;
    /* min-width: 1340px;  */
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    margin: 10px 10px;
    padding-left: 0px;
    padding: 25px;
}

.section-p2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-m1 {
    margin: 40px 0;
}

p {
    color: #222;
}

.login-container {
    position: absolute;
    z-index: 3;
    margin-top: 80px;
    margin-right: 10px;
    right: 0;
    display: none;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 600;
    width: 200px;
    height: 250px;
    background-color: #E3E6F3;
    border-radius: 4px;
    box-shadow: 2px 4px 4px 2px #a19797;
}

.login-container>.wel {
    color: #088178;
}

.login-container>hr {
    background-color: #088178;
    height: 4px;
    border-radius: 5px;
}

.login-container>.ac-details,
.login-container>.new-user {
    font-size: 14px;
}

.login-container>.login-btn,
.login-container>.signup-btn {
    width: 80px;
    height: 30px;
    margin-bottom: 16px;
    color: #fff;
    font-weight: 900;
    border: none;
    border-radius: 4px;
    background: rgb(8, 129, 120);
    background: linear-gradient(45deg, #088178 0%, #088178 100%, #088178 100%);
    /*For giving texture effect to the button*/
}

.login-container>.login-btn:hover,
.login-container>.signup-btn:hover {
    text-transform: uppercase;
    background-color: #075a54;
    cursor: pointer;
}

#header {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
}

.logo {
    float: left;
    width: auto;
    height: 60px;
    margin-left: 4vw;
    display: inline;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar li {
    list-style: none;
    padding: 0 20px;
    display: inline-block;
    position: relative;

}

.navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.navbar li a:hover,
.navbar li a.active {
    color: #088178;
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

#mobile {
    display: none;
    align-items: center;
}

#hero {
    height: 100vh;
    width: 100%;
    background-position: top 25% right 0%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.process {
    margin: auto;
    align-items: center;
    font-size: 150px;
    font-weight: bold;
    color: rgb(8, 129, 120);
    animation: loading 3s linear infinite;
}

.js-center {
    justify-content: center;

}

.pd-left {
    padding-left: 8vw;
}

.center {
    text-align: center;
}

.block {
    display: block !important;
    text-align: left;
}

.tp-half {
    margin-top: 50%;
}

.register-form {
    margin: auto;
    padding: 10px;
    width: 80%;
    position: relative;
    background-color: #eff1f7;
    height: 80vh;
    border-radius: 25px;
    box-shadow: 2px 2px 4px 2px #c9c9e9;
}

.bg-c {
    background-image: url("../img/nature.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fm-input {
    display: block;
    margin: auto;
    height: 35px;
    width: 100%;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: rgb(8, 129, 120);
    border-radius: 25px;
    padding-left: 14px;
    margin-bottom: 10px;
}

/* For smaller screens we reducing the width */
@media screen and (min-width: 820px) {
    .fm-input {
        width: 40%;
    }

    .fm-sp {
        width: 300px;

    }
}

.fm-input::placeholder {
    color: #075a54;
    font-weight: normal;
    font-size: 16px;
}


.fm-input:focus {
    box-shadow: 0px 0px 2px 2px rgba(8, 129, 120, 1);
}

.button {
    height: 40px;
    width: 120px;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    background-color: #075a54;
}

.button:hover {
    text-transform: uppercase;
    background-color: #088178;
    transform: scale(1.2);
}

.tp-100px {
    padding-top: 100px;
}

.tp-50px {
    padding-top: 50px;
}

.u-icon {
    margin-top: 4px;
    display: inline-block;
    font-size: 50px;
    margin-bottom: 20px;
    color: rgb(8, 129, 120);
}

.label {
    color: #090237;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
}

.required {
    color: red;
}

.label-mr {
    margin-left: 250px;
}

.accept {
    font-size: 20px;
    color: #088178;
}

.fx-pay {
    margin-top: 10px !important;
}

@media screen and (max-width: 820px) {
    .label-mr {
        margin-left: 0px;
    }

}

#hero .log-in {
    /* text-decoration: none; */
    margin-left: 150px;
    font-weight: bold;
}

.product {
    background-color: #E3E6F3;
    display: flex;
    height: 100%;
    padding-left: 10px;
    padding-top: 10px;
}

.inline {
    display: inline !important;
    text-align: left;
}

.prd-list {
    width: 73%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #fff2e5;
    border-radius: 4px;
}

.del-meth {
    width: 100%;
    margin-left: 1%;
    height: 6vh;
    padding: 10px;
    font-weight: bold;
    background-color: #E3E6F3;
}

#delivery-pirce {
    display: none;
}

.payment {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 15px;
}

@media screen and (max-width: 1000px) {
    .payment {
        width: 25px;
        height: 25px;
        margin-top: 15px;
        margin-left: 15px;
    }

}

.prd-ch {
    width: 25%;
    margin-left: 1%;
    height: 70vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff2e5;
    border-radius: 4px;
}

.fx-list {
    list-style: none;
    background-color: #E3E6F3;
    margin-top: 50px;
    height: 25vh;
    margin-bottom: 20px;
    ;
    border-radius: 4px;
}

.prd-img {
    width: 150px;
    height: 150px;
    padding: 10px;
    float: left;
    align-items: center;
}

.prd-price {
    margin-left: 160px;
    margin-top: 4px;
}

.prd-qnty {
    font-size: 14px;
    margin-top: 4px;
    margin-left: 160px;
    position: sticky;
}

.prd-span {
    margin-left: 160px;
    margin-top: 4px;
}

.prd-details {
    margin-left: 10px;
    text-align: center;
}

.prd-cancel {
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 18px;
}

.prd-head {
    font-size: 30px;
    font-weight: bold;
    float: left;
    top: 0px;
}

.fx-col {
    flex-direction: column;
}

.fx-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.total-price {
    font-size: 28px;
}

.prd-total,
.sb-price,
.tx-price,
.del-price {
    float: right;
}

.prd-check {
    height: 60px;
    padding: 15px;
    color: #fff;
    background-color: #088178;
    border: none;
    border-radius: 10px;
}

input[type="submit"],
select,
button {
    cursor: pointer;
}

/* Checkout page CSS starts here */

.checkout {
    width: 80%;
    height: 65vh;
    background-color: rgb(247, 241, 241);
    margin: auto;
    border-radius: 5px;
}

/* Checkout page CSS ends here */

@keyframes loading {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }

}


.home-page {
    background-image: url("../img/hero4.png");
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
    font-weight: 800;
}

#hero button {
    background-image: url("../img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

 /* #hero button:hover {
    transform: scale(1.1);
}  */

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    display: inline-block;
}

.align-right {
    float: right;
}


#feature .fe-box:nth-child(2) h6 {
    /*  Changing the background color of the container */
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    /*  Parent element should be relative when you have to use position absolute in its child */
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro :hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;

}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border-color: 1px solid #cce7d0;
    position: absolute;
    /* child of pro */
    bottom: 20px;
    right: 10px;
}

#product11 .pro-container1 {
    display: flex;
    justify-content: center;
   
    flex-wrap: wrap;
    padding-left: 0px;


    
    }
  
#product11 .pro1:hover {
    box-shadow: 20px 20px 30px rgba(100, 93, 93, 0.09);
}

#product11 .pro1 img {
    width: 100%;

}

#product11 .pro1 h5 {
    text-align: center;
}


.pro1 {
    margin-left: 0px;
}









footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #E3E6F3;
    margin: 0px !important;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 7%;
}

footer .logo {
    margin-bottom: 30px;
    margin-top: -36%;

}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;

}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;

}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;

}

.copyright {
    margin-top: 10%;
}


ul #cancel {
    display: none;
}


#login1 {
    cursor: pointer;
}


.flex-box {
    display: flex !important;
    justify-content: space-around;
    /* margin-left: 20%;
    margin-right: 10%; */
    width: 60%;
    margin: auto;
}

.flex-box1 {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.mob,
.email,
.pass {
    margin-left: 25px;
}

.ml-10px {
    margin-left: 10px;
}

.fx-height {
    height: 10vh !important;
}


.Product {
    vertical-align: middle;
    padding: 10px;

}


.fepro{
    margin-left: 38%;
}
/*  SLIDES PRODUCTS */
.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
   scroll-behavior: smooth;
    margin-top:5%;
  }
  
    .product-container::-webkit-scrollbar {
        display: none;
    }
  /* Hides the scroll bar */
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 400px;
    margin-right: 40px;
  }

  .product-card:hover .card-btn {
    opacity: 1;
  }
  
 
  
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
     background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #E3E6F3 100%); 
    cursor: pointer;
    z-index: 8;
    margin-top:-3%;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
 
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }
/* End */
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/banner/b2.jpg);
    width: 100%;
    height:40vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px !important;
}
#banner h4{
    color: white;
    font-size: 16px;
}
#banner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;

}
#banner h2 span{
    color: red;
}

@media screen and (max-width: 820px) {
    #product1 .pro-container {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        flex-wrap: wrap;
    }

    .fx-height {
        height: 8vh !important;
    }

    #feature {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .fepro{
        margin:auto;
    }
    .fepro p{
        padding-left: 100px;
    }
    #hero button {
        background-image: url("../img/button.png");
        background-color: transparent;
        color: #088178;
        border: 0;
        padding: 9px 37px 12px 58px;
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 500;
        font-size: 12px;
        margin-left: -3%;
        background-size: contain;
    }

    p {
        font-size: 10px;
        color: #465b52;
        margin: 15px 0 20px 0;
    }

    h1 {
        font-size: 22px;
        line-height: 64px;
        color: #222;
    }

    h2 {
        font-size: 18px;
        line-height: 54px;
        text-align: center;
        color: rgb(34, 34, 34);
    }

    h4 {
        font-size: 10px;
        color: #222;
    }

    #hero {
        height: 100vh;
        width: 100%;
        background-position: top 25% right 25%;
        background-size: cover;
        padding-left: 4vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    #hero p {
        font-size: 9px;
        color: #465b52;
        margin: -12px 0 5px 0;
    }

    #hero h1 {
        font-size: 22px;
        line-height: 64px;
        color: #088178;
        margin: -34px 0px -3px 0px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 54px;
        color: rgb(34, 34, 34);
    }

    #hero h4 {
        font-size: 10px;
        color: #088178;
        margin: 0px 0 -25px 0;
    }
    .product-container {
        padding: 12px 13vw;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        margin-top: 5%;
    }
    .pre-btn, .nxt-btn {
        border: none;
        width: 10vw;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #E3E6F3 100%);
        cursor: pointer;
        z-index: 8;
        margin-top: -17%;
    }
    .no-padd {
        padding-left: 0px !important;
    }
    .product{
        text-align: center;
    }

    .hero-home {
        height: 50vh !important;
    }

    .process {
        margin: auto;
        align-items: center;
        font-size: 100px;
        font-weight: bold;
        color: rgb(8, 129, 120);
        animation: loading 3s linear infinite;
    }

    .navbar {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 250px;
        background-color: #E3E6F3;
        margin-right: 0;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.06);
        padding: 80px 0 0 10px;
        transition: 0.3s linear;
    }

    footer .logo {
        margin-bottom: 30px;
        margin-top: -19%;
    }

   


    .navbar.active {
        right: 0px;
    }

    .logo {
        float: left;
        width: auto;
        height: 40px;
        margin-left: 0vw;
        display: inline;
    }

    .navbar li {
        margin-bottom: 25px;
    }

    .js-center {
        justify-content: center;
    }

    .center {
        text-align: center;
    }

    .left {
        text-align: left !important;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        cursor: pointer;
    }

    #login2 {
        cursor: pointer;
    }

    ul #cancel {
        display: block;
        top: -50px;
    }

    ul #cancel:hover {
        color: #088178;
    }


    ul #cart,
    ul #login {
        display: none;
    }

    #mobile i:hover {
        color: #088178;
    }

    .navbar #login1 {
        display: none;
    }


    #banner h2{
        
            font-size: 12px !important;
            line-height: 35px;
            
        
    }


    .prd-head {
        font-size: 20px !important;
        font-weight: bold;
        float: left;
        color: black !important;
        top: 0px;
    }

    
    

    .prd-price {
        margin-left: 16px !important;
        margin-top: 6px !important;
        margin-bottom: 1px !important;
        font-size: 12px !important;
        color: black !important;
        clear: both;

    }

    .fx-list {
        list-style: none;
        background-color: #E3E6F3;
        margin-top: 50px;
        height: 50vh;
        /* min-width: 260px; */
        margin-bottom: 20px;
        padding-left: 4px;
        border-radius: 4px;
    }

    .prd-list {
        width: 60%;
        padding: 10px;
    }

    .prd-ch {
        width: 35%;
        margin-left: 1%;
        height: 60vh;
        padding: 10px;
    }

    .prd-check {
        height: 40px;
        padding: 15px;
    }

    .del-meth {
        width: 100%;
        margin-left: 1%;
        height: 40px;
    }

    .sb-title {
        padding-bottom: 30px !important;
        font-size: 14px !important;
        color: #222;
    }


}










}

#saree {
    text-align: center;
}

#saree .saree-container11 {
    display: flex;
    justify-content: space-between;
   
    flex-wrap: wrap;
}

#saree  .sar1 {
    width: 50%;

    min-width: 650px;
    border:1px solid rgb(248, 245, 245);
   

  
}

#saree .sar1 img {

 text-align: center;
padding-left: 40%;
   
}

#saree .sar1:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);

}

#saree .sar1 .des {
    text-align: center;
    padding: 10px 0;

}

#saree .sar1 .des span {
    color: #606063;
    font-size: 12px;
}

#saree .sar1 .des1 h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}


#mob::-webkit-outer-spin-button,
#mob::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#prodetails .single-img {
    width: 80%;
    max-width: 230px;

    
  

}

#prodetails {
    display: flex;
    margin-top: 20px;
    margin-left: 0px;
}

#prodetails .single-pro-detail {
    width: 50%;
    padding-top: 30px;
    margin-left: 30px;
    padding-left: 10%;
}



#prodetails .single-pro-detail h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-detail h2 {
    font-size: 26px;
}

#prodetails .single-pro-detail input {
    width: ;
    height: 47px;
}









//tshirt 
#tshirt {
    text-align: center;
}

#tshirt .t-container11 {
    display: flex;
    justify-content: center;
 
    flex-wrap: wrap;
}

#tshirt  .T1 {
    width: 50%;

    min-width: 650px;
    border:1px solid rgb(248, 245, 245);
   

  
}


#tshirt .T1 img {

 text-align: center;
 height: 50%;
 padding-left:30%;

   
}

#tshirt .T1:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);

}

#tshirt .T1 .tdes {
    text-align: center;
    

}

#tshirt .T1 .tdes span {
    color: #606063;
    font-size: 12px;
}

#tshirt .T1 .tdes1 h5 {
    /* padding-top: 7px; */
    color: #1a1a1a;
    font-size: 14px;
}
#tdetails .single-img {
    width: 30%;
    max-width: 230px;
 
 
  
   
padding-left: 0px; 
}

#tdetails {
    display: flex;
    margin-top: 20px;
    margin-left: 0px;
}

#tdetails .single-pro-detail {
    width: 100%;
    padding-top: 30px;
    margin-left: 150px;
    padding-left: 10%;
}



#tdetails .single-pro-detail h4 {
    padding: 40px 0 20px 0;
}

#tdetails .single-pro-detail h2 {
    font-size: 26px;
}

#tdetails .single-pro-detail input {
    width: 50px;
    height: 47px;
}
#top-page1 .single-top1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 300px;
    margin-top: 20px;
  

   
}
#top-page1 .single-top1:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);

}
#top-page1  .single-top1 {
    width: 30%;

    min-width: 550px;
    border:1px solid rgb(248, 245, 245);
   
  
}
#top-page1 .top-details{
    margin-top: 50%;
    text-align: center;
}
#top-page1  .single-top1 img{
    text-align: center;
    height: 50%;
    /* padding-left:30%; */
   
}
#shirt .shirt-container11{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20px;
 
  
  
}
.shirt1 img{
    margin-left: 30px;
    width:100%;
    max-width: 550px;
    text-align: center;
   padding-left: 50px;
  padding-top: 20px;
   height:60%;
}
.shirt1 .des{
    text-align: center;
}
#shirtdetails{
    display: flex;
    margin-top: 20px;
    margin-left: 0px;
} 
#shirtdetails .single-img {
    width: 30%;
    max-width: 230px;
 
 
  
   
padding-left: 0px; 
}
#shirtdetails .single-pro-detail {
    width: 100%;
    padding-top: 30px;
    margin-left: 150px;
    padding-left: 10%;
}



#shirtdetails .single-pro-detail h4 {
    padding: 40px 0 20px 0;
}

#shirtdetails .single-pro-detail h2 {
    font-size: 26px;
}

#shirtdetails .single-pro-detail input {
    width: 50px;
    height: 47px;
}